name: PyPI

on:
  release:
    types:
      - published

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:

    - name: Setup Python
      uses: actions/setup-python@v6.1.0
      with:
        python-version: '3.12'

    - name: Setup Poetry
      run: |
        pip install --upgrade pip
        pip install pipx
        pipx install poetry

    - name: Checkout
      uses: actions/checkout@v6.0.1

    - name: Install
      run: poetry install

    - name: Build
      run: poetry build

    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1
